/* foundation */
@import "foundation/mixin";
@import "foundation/base";


/* layout */
/* l-body系 */
@import "layout/_l-body";
/* top-image */
@import "layout/_l-header-top-image";
/*takeoutとeat-inの位置*/
@import "layout/_l-header-choice";
/* footer */
@import "layout/_l-footer";
/* takeout-text */
@import "layout/_l-takeout-text";
/* eat-in-text */
@import "layout/_l-eatin-text";
/* map */
@import "layout/_l-map";
/* tbとspのside menu レイアウト */
@import "layout/_l-responsive-size-sidemenu";
/* body((header+aside)+footer) wrapper */
@import "layout/_l-wrapper";


/* project */
@import "object/project/_p-header-left-and-right";
@import "object/project/_p-header-takeout-and-eatin";
/* sideのハンバーガーメニュー */
@import "object/project/p-hamburger-menu";


/* component */
/* c-image系 */
@import "object/component/_c-image";
/* takeoutとeat-inのテキスト */
@import "object/component/_c-text-card";
/* footer */
@import "object/component/_c-footer";
/* 検索フォーム */
@import "object/component/_c-form";
/* サイドメニューの文字 */
@import "object/component/_c-side";
/* map */ 
@import "object/component/_c-map";
/* tb sp のサイドメニュー */
@import "object/component/_c-responsive-side-menu";

/* メインの文章 */
.c-archive-center-wrapper {
    margin-top: 12%;
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-bottom: 8%;
    @include tb {
        margin-top: 38%;
    }
    @include sp {
        margin-top: 70%;
    }
}

.c-archive-center-title {
    font-size: 2.3vw;
    @include tb {
        font-size: 4.3vw;
    }
    @include sp {
        font-size: 7.5vw;
    }
}

.c-archive-center-text {
    font-size: 1.0vw;
    @include tb {
        font-size: 1.9vw;
    }
    @include sp {
        font-size: 4.2vw;
    }    
}

/* ハンバーガーカード（左に画像、右に説明の文章） */
.c-archive-center-card-wrapper {
    margin-left: 6.4%;
    margin-right: 6.4%;
    margin-bottom: 2%;
    background-color: #3C2B1C;
    height: auto;
    color: white;
    display: flex;
}

.c-archive-center-card-image {
    background-image: url("../images/archive-hamburger-image.jpg");
    width: 50%;
}

.c-archive-center-card-description {
    width: 50%;

}

.c-archive-center-card-title {
    font-size: 2.3vw;
    margin-left: 10%;
    margin-right: 15.4%;
    margin-top: 9%;
    margin-bottom: 9%;
        @include tb {
            font-size: 2.4vw;
        }
        @include sp {
            font-size: 5.3vw;
        }
}

.c-archive-center-card-text {
    h3 {
        font-size: 1.5vw;
        margin-left: 10%;
        margin-right: 15.4%;
        margin-bottom: 4%;
        
        @include tb {
            font-size: 1.9vw;
        }
        @include sp {
            font-size: 4.3vw;
        }
    }
    p {
        font-weight: 400;
        margin-left: 10%;
        margin-right: 15.4%;
    }
}

.c-archive-center-card-botton {
    color: #707070;
    background-color: white;
    margin-top: 9%;
    margin-bottom: 9%;
    padding-top: 6%;
    padding-bottom: 6%;
    text-align: center;
    border-radius: 30px;
    width: 60%;
    padding-left: 7%;
    padding-right: 7%;
    height: auto;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
