/* foundation */
@import "foundation/mixin";
@import "foundation/base";


/* layout */
/* l-body系 */
@import "layout/_l-body";
/* top-image */
@import "layout/_l-header-top-image";
/*takeoutとeat-inの位置*/
@import "layout/_l-header-choice";
/* footer */
@import "layout/_l-footer";
/* takeout-text */
@import "layout/_l-takeout-text";
/* eat-in-text */
@import "layout/_l-eatin-text";
/* map */
@import "layout/_l-map";
/* tbとspのside menu レイアウト */
@import "layout/_l-responsive-size-sidemenu";
/* body((header+aside)+footer) wrapper */
@import "layout/_l-wrapper";


/* project */
@import "object/project/_p-header-left-and-right";
@import "object/project/_p-header-takeout-and-eatin";
/* sideのハンバーガーメニュー */
@import "object/project/p-hamburger-menu";


/* component */
/* c-image系 */
@import "object/component/_c-image";
/* takeoutとeat-inのテキスト */
@import "object/component/_c-text-card";
/* footer */
@import "object/component/_c-footer";
/* 検索フォーム */
@import "object/component/_c-form";
/* サイドメニューの文字 */
@import "object/component/_c-side";
/* map */ 
@import "object/component/_c-map";
/* tb sp のサイドメニュー */
@import "object/component/_c-responsive-side-menu";

/* archiveの文章、カードなどのメイン部分 */
@import "object/component/c-archive-center";
/* ページネーション */
@import "object/component/c-archive-pagination";

/* 見出し */
.c-single-maintext-wrapper {
    color: #3C2A10;
    margin-left: 100px;
    margin-right: 100px;
    @include tb {
        margin-left: 60px;
        margin-right: 60px;
    }
    @include sp {
        margin-left: 20px;
        margin-right: 20px;
    }

    
}

.c-single-maintext {
    
    &-h2 {
        font-size: 36px;
        margin-top: 67px;
        margin-bottom: 64px;
        @include sp {
            margin-top: 35px;
            margin-bottom: 33px;
        }
       

    }
    &-h3 {
        font-size: 28px;
        margin-top: 65px;
        margin-bottom: 66px;
        @include sp {
            margin-top: 39px;
            margin-bottom: 36px;
        }
        &-second {
            font-size: 20px;
            margin-top: 0;
            margin-bottom: 64px;
            @include sp {
                margin-bottom: 34px;
            }
        }
    }
    &-h4 {
        font-size: 20px;
        margin-bottom: 64px;
        @include sp {
            margin-bottom: 34px;
        }
        &-second {
            font-size: 20px;
            margin-bottom: 64px;
            @include sp {
                margin-bottom: 34px;
            }
        }
    }

    &-h5 {
        font-size: 20px;
        margin-bottom: 64px;
        @include sp {
            margin-bottom: 34px;
        }
    }
    &-h6 {
        font-size: 20px;
        margin-bottom: 61px;
        @include sp {
            margin-bottom: 31px;
        }
    }
    &-p {
        font-size: 16px;

    }
}

/* 本文 */
.c-single-quote-wrapper {
    background-color: #F5F5F5;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
    @include tb {
        margin-left: 60px;
        margin-right: 60px;
    }
    @include sp {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

.c-single-quote-text {
    
        padding-top: 50px;
        margin-left: 50px;
        margin-right: 56px;
        margin-bottom: 62px;

    @include sp {
        padding-top: 30px;
        margin-left: 20px;
        margin-right: 16px;
        margin-bottom: 32px;
    }
}

.c-single-quote-source {
    margin-left: 50px;
    padding-bottom: 51px;
    @include sp {
        margin-left: 20px;
        padding-bottom: 31px;
    }
}

/* ハンバーガー写真 */
.c-single-hamburger-image {
    margin-left: 100px;
    margin-right: 100px;
    @include tb {
        margin-left: 60px;
        margin-right: 60px;
    }
    @include sp {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.c-single-big-hamburger {
    margin-bottom: 60px;

    width: 100%;
    height: auto;
}

.c-single-middle-hamburger-wrapper {
    display: flex;
    margin-bottom: 60px;
    width: 100%;
    &-reverse {
        display: flex;
        margin-bottom: 60px;
    }

}

.c-single-middle-hamburger-image {
    width: 43%;
    height: 100%;

    
    
}

.c-single-middle-hamburger-text {
    
    margin-left: 40px;
    font-size: 16px;
    
    &-reverse {
        margin-right: 40px;
        font-size: 16px;
    
    }
}

.c-single-middle-hamburger-center {
    width: 100%;
    text-align: center;
    margin-bottom: 20%;
}

.c-single-little-hamburger-wrapper {
    width: 100%;
    display: grid;
    gap: 2%;
    grid-template-columns: repeat(3,minmax(100px,1fr));
    @include sp {
        grid-template-columns: repeat(2,minmax(100px,1fr));
    }
}

.c-single-little-hamburger-image {
    width: 100%;
    height: auto;
    img {
        width: 100%;
        height: auto;
    }
}

.c-single-list-wrapper {
    margin-left: 100px;
    margin-right: 100px;
    @include tb {
        margin-left: 60px;
        margin-right: 60px;
    }
    @include sp {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.c-single-list {
    margin-left: 50px;
    list-style: none;
    margin-top: 63px;
    margin-bottom: 20px;
    &-2 {
        margin-left: 68px;
        list-style: none;
        margin-bottom: 20px;
    }

    &-3 {
        margin-left: 50px;
        list-style: none;
        margin-bottom: 60px;
    }
    &-4 {
        margin-left: 50px;
        list-style: none;
        margin-bottom: 22px;
    }
    &-5 {
        margin-left: 68px;
        list-style: none;
        margin-bottom: 20px;

    }
    &-6 {
        margin-left: 50px;
        list-style: none;
        margin-bottom: 59px;

    }
}

.c-single-html-wrapper {
    background-color: #F5F5F5;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 60px;
    @include tb {
        margin-left: 60px;
        margin-right: 60px;
    }
    @include sp {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 30px;
    }
}

