@charset "UTF-8";
/* foundation */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
}

p {
  font-family: 'M PLUS 1p', sans-serif;
}

img {
  height: auto;
}

/* layout */
.l-body {
  width: 100%;
  height: 1553px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.l-body .l-header {
  width: 80.885%;
  background-color: #FFF7EF;
}

.l-body .l-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.l-body .l-aside {
  width: 19.115%;
  background-color: #F2EDE9;
  display: block;
  height: auto;
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9D8670;
  position: absolute;
  bottom: 0;
}

.l-takeout-text-wrapper {
  width: 100%;
  position: relative;
  top: -500px;
  z-index: 0;
}

.l-eatin-text-wrapper {
  width: 100%;
  position: relative;
  top: -500px;
  z-index: 0;
}

.l-takeout-text-1 {
  position: relative;
  bottom: 25%;
  left: 9%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

.l-takeout-text-2 {
  position: relative;
  bottom: 25%;
  left: 9%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

.l-eatin-text-1 {
  position: relative;
  bottom: 25%;
  left: 16%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

.l-eatin-text-2 {
  position: relative;
  bottom: 25%;
  left: 16%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

/* project */
.p-header-left h1 {
  position: relative;
  top: 67px;
  left: 65px;
}

.p-header-right {
  position: relative;
  top: 86px;
  right: 397px;
}

.p-header-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 111px;
}

.p-header-choice .p-header-takeout {
  width: 50%;
  height: auto;
}

.p-header-choice .p-header-takeout:before {
  content: "";
  display: block;
}

.p-header-choice .p-header-eatin {
  width: 50%;
}

.p-header-choice .p-header-eatin:before {
  content: "";
  display: block;
}

.p-hamburger-menu {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
}

/* component */
.c-image {
  width: 100%;
}

.c-image-top {
  width: 100%;
  height: auto;
}

.c-image-text-top {
  position: relative;
  left: 0;
  top: 235px;
  left: 86px;
  font-size: 40px;
  color: #ffffff;
}

.c-image-takeout {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-right: 40px;
}

.c-image-text-takeout {
  position: relative;
  top: 130px;
  left: 80px;
  z-index: 100;
  color: #ffffff;
  font-size: 80px;
  line-height: 1.325;
  display: block;
}

.c-image-eatin {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-left: 40px;
}

.c-image-text-eatin {
  position: relative;
  top: 130px;
  left: 80px;
  z-index: 100;
  color: #ffffff;
  font-size: 80px;
  line-height: 1.325;
  display: block;
}

.c-image .c-text-heading {
  background-color: rgba(255, 255, 255, 0.8);
}

.c-image .c-text-heading h3 {
  font-size: 24px;
}

.c-image .c-text-heading p {
  font-size: 16px;
}

/* 検索フォーム*/
.c-form {
  position: relative;
  margin-bottom: 20px;
}

.c-form-sbox5 {
  outline: 0;
  height: 50px;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 270px;
  border-radius: 2px;
  background: #eee;
}

.c-form-sbtn5 {
  width: 70px;
  height: 50px;
  position: absolute;
  left: 280px;
  top: 0;
  border-radius: 2px;
  background: #7fbfff;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: none;
}

.c-form-sbtn5:hover {
  background: #eee;
  color: #7fbfff;
}

/* 地図 */
iframe {
  width: 100%;
  display: block;
  z-index: 1;
  position: relative;
}

.l-class-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
}

.c-map-text {
  display: block;
  position: relative;
  opacity: 0.5;
  z-index: 3;
  width: 30%;
  height: auto;
}

/* aside */
.c-menu {
  font-size: 24px;
  font-family: 'M PLUS 1p', sans-serif;
}

.c-menu li {
  font-size: 20px;
  list-style-type: none;
}
/*# sourceMappingURL=style.css.map */