/* foundation */



$tb: 834px; // タブレット用のブレイクポイント
@mixin tb {
    @media (max-width: ($tb)) {
        @content;
    }
}

$sp: 375px; // スマートフォン用のブレイクポイント
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

*, *:before, *:after{ box-sizing: border-box;

}



h1 {
    font-size: 64px;
    font-family: 'Roboto', sans-serif;
    @include tb {        
            font-size: 36px;    
    }
    @include sp {
        font-size: 32px;
    }
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'M PLUS 1p', sans-serif;
}

p {
    font-family: 'M PLUS 1p', sans-serif;
}

img {
    height: auto;
}

/* layout */
.l-body {
    width: 100%;
    height: auto;
    display: flex;
    @include tb {
        
        position: relative;
        
        .show {
            position: relative;
            

            
            
        }
    }
    
    &-header {
        width: 80.885%;
        background-color: #FFF7EF;
        @include tb {
            width: 100%;
        }
            &-top {
                display: flex;
                justify-content: space-between;
                @include tb {
                    flex-direction: column;
                    
                    
                }
            }
            

    }
    &-aside {
        width: 19.115%;
        background-color: #F2EDE9;
        display: block;
        height: auto;
        @include tb {
                display: none;
        }
        @include sp {
                display: none;
        }
            &-menu {
               
                position: relative;
                top: 82px;
                padding-left: 46px;
                
            }
            &-hamburger {
                position: relative;
                top: 82px;
                
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }
            &-side-menu {
                position: relative;
                top: 82px;
                
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }

            &-drink-menu {
                position: relative;
                top: 82px;
                
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }
        
    }
}
.l-footer {
    width: 100%;
    height: 150px;
    background-color: #9D8670;
    position: absolute;
    bottom: 0;
    z-index: 5;
    p {
        text-align: center;
        color: #ffffff;
        font-size: 20px;
        }
}
/* テイクアウト側に入れる文章のレイアウト */
.l-takeout-text {
    width: 100%;
    position: relative;
    top: -30%;
    z-index: 0;
    @include tb {
        position: relative;
        top: -35%;
        right: 2%;
    }

    @include sp {
        position: relative;
        top: -350px;
        right: 0;
    }
    /* テイクアウト文章1 */
    &-1 {
        position: relative;
        bottom: 25%;
        left: 9%;
        top: 0;
        right: 10%;
        width: 75%;
        @include tb {
        
            right: 0;
            width: 85%;
            
        }
      
        @include sp {
            left: 0;
            right: 0;
            width: 100%;
        }
    }

    /* テイクアウト文章2 */
    &-2 {
        position: relative;
        bottom: 25%;
        left: 9%;
        top: 0;
        right: 10%;
        width: 75%;
        @include tb {
        
            right: 0;
            width: 85%;
            
        }
    
        @include sp {
            left: 0;
            right: 0;
            width: 100%;
        }
    }
}
/* イートイン側に入れる文章のレイアウト */
.l-eatin-text {
    width: 100%;
    position: relative;
    top: -30%;
    z-index: 0;


    @include tb {
        position: relative;
        top: -35%;
        left: 2%;
    }
    @include sp {
        position: relative;
        top: -375px;
        left: 0;
    }
    /* イートイン文章1 */
    &-1 {
        position: relative;
        bottom: 25%;
        left: 16%;
        top: 0;
        right: 10%;
        width: 75%;
        @include tb {
        
            left: 8%;
            width: 85%;
            
        }
        
        @include sp {
            left: 0px;
            right: 0px;
            width: 100%;
        }
    }
    /* イートイン文章2 */
    &-2 {
        position: relative;
        bottom: 25%;
        left: 16%;
        top: 0;
        right: 10%;
        width: 75%;
        @include tb {
        
            left: 8%;
            width: 85%;
            
        }
        
        @include sp {
            left: 0px;
            right: 0px;
            width: 100%;
        }
    }
}



/* project */
/* ハンバーガーのロゴの位置*/
.p-header-left h1 {
    position: absolute;
    top: 20px;
    left: 3%;
    
    @include tb {
        
        left: 34%;
    }
    @include sp {
        left: 25%;
    }
        
    
}
/* 検索バーの位置 */
.p-header-right {
    position: absolute;
    top: 130px;
    left: 45%;
    @include tb {
        top: 11%;
        left: 30%;
        margin-bottom: 30px;
        margin-top: 30px;
    }
    @include sp {
        top: 7%;
        left: 20%;
    }

}   

.p-header-top-image {
    padding-top: 10%;
    padding-bottom: 10%;
}

/* テイクアウトとイートインのラッパー */
.p-header-choice {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    @include tb {
        padding-left: 4%;
    
    }
    
    

    @include sp {
        display: block;
        padding: 0 20px;
    }
    /* テイクアウト */
    .p-header-takeout {
        width: 50%;
        height: auto;
        position: relative;
        @include sp {
            width: 100%;
        }

        
        
        
    }
    .p-header-takeout:before {
        content: "";
        display: block;
    }
    /* イートイン */
    .p-header-eatin {
        width: 50%;
        height: auto;
        position: relative;

        @include sp {
            width: 100%;
        }
        

    }

    .p-header-eatin:before {
        content: "";
        display: block;
    }
}
/* サイド側のハンバーガーメニュー */
.p-hamburger-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;


}



/* component */

/* 画像にテキストを載せる */
.c-image {
    width: 100%;
    position: relative;
    
    
    /* トップ画像 */
    &-top {
        width: 100%;
        height: auto;
        margin-top: 10%;
        @include tb {
            margin-top: 20%;
        }
        @include sp {
            padding-top: 40%;
            height: 20rem;
            object-fit: cover;
        }
    }
    /* トップ画像のテキスト */
    &-text-top {
        position: absolute;
        top: 35%;
        left: 10%;

        color: #ffffff;
        font-size: 40px;
   
        @include tb {
                font-size: 36px;
                top: 45%;
        
        }
        @include sp {
            top: 55%;
            font-size: 28px;
        }

    }

    /* テイクアウト側 */
    &-takeout {
        width: 100%;
        height: auto;
        padding-right: 40px;
        @include tb {
            padding-right: 5px;
        }
        @include sp {
            padding-right: 0px;
            margin-top: 30%;
            margin-bottom: 20%; 
        }


    }
    &-text-takeout {
        position: absolute;
        top: 20%;
        left: 2%;
        z-index: 100;
        color: #ffffff;
        font-size: 80px;
        line-height: 1.325;
        display: block;

        @include tb {
            font-size: 44px;
            top: 10%; 
        }
        @include sp {
            top: 20%;
        }
    }
    
    /* イートイン側 */
    &-eatin {
        
        width: 100%;
        height: auto;
        padding-left: 40px;
        @include tb {
            padding-left: 5px;
        }
        @include sp {
            padding-left: 0px;
            position: relative;
            top: -300px;
        }
        

    }
    &-text-eatin {
        position: absolute;
        top: 20%;
        left: 16%;
        z-index: 100;
        color: #ffffff;
        font-size: 80px;
        line-height: 1.325;
        display: block;

        @include tb {
            font-size: 44px;
            top: 10%; 
        }
        @include sp {
            position: relative;
            top: -130px;
            left: 0; 
        }
    }
}
/* テイクアウトとイートインの中の文章 */
.c-image-on-text {
    background-color: rgba($color:#ffffff, $alpha: 0.8);

     h3 {
         font-size: 24px;
     }
     p {
         font-size: 16px;
     }
}

/* 検索フォーム*/
.c-form{
    position: absolute;
    bottom: 40px;
    margin-bottom: 20px;
    right: 0;
    
    @include tb {
        position: absolute;
        margin-bottom: 20px;
    }	
    
    &-sbox5{	
            outline: 0;	
            height: auto;
            padding: 0 10px; 
            position: absolute;
            padding: 25%; 
            left: 0;
            
            max-width: 270px;
            border-radius: 10px;
            background:#ffffff;
            border: 1px solid #707070;
            @include tb {
                width: 200px;
                
            }
            @include sp {
                width: 200px;
            }
    }
    &-sbtn5{
            width: 110px;
            height: 42px;
            position: absolute; 
            left: 220px; 
            top: 0;
            border-radius: 10px;
            background: #F2EDE9;
            color:#707070;
            font-weight: bold;
            font-size: 16px;
            border: 1px solid #707070;
            @include tb {
                margin-left: 0px;
                width: 75px;
                left: 210px;
            }
            @include sp {
                margin-left: 0;
            }
    }
    &-sbtn5:hover{
            background:#707070;
            color: #F2EDE9;
            border: 1px solid #F2EDE9;
    }
}

.c-search {
    font-weight: 900;
    z-index: 2;
    position: absolute;
    color: #707070;
    position: relative;
    top: 6px;
    @include tb {
        left: 0;
    }
}

/* スライドメニュー */
.slide-menu {
    display: none;
    @include tb {
        display: block;
    }
}

/* aside */
.c-menu {
    color: #303030;
    font-size: 17px;
    font-family: 'M PLUS 1p', sans-serif;
    @include tb {
        font-size: 20px;
        position: relative;
        left: 40px;
    }
    li {
        font-size: 15px;
        list-style-type: none;
        @include tb {
            font-size: 17px;
            position: relative;
            left: 60px;
        }
    }
}



/* 文字とgooglemap */


.p-map {
    width: 100%;
    height: auto;
    position: relative;
    bottom: 150px;
    
}

.c-maptext {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #333333;
    opacity: 0.5;
    width: 62%;
    height: 100%;
    top: 0;
    left: 0;
    @include tb {
        width: 100%;
    }
    p {
        color: white;
        position: absolute;
        top: 30%;
        left: 5%;
        @include tb {
            font-size: 14px;
            
        }

    }
    h2 {
        color: white;
        position: absolute;
        top: 5%;
        left: 5%;
        @include tb {
            font-size: 30px;
        
        }

    }

}

.c-googlemap {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
}

img{
    max-width: 100%;
    height: auto;
}

.iframe-wrapper{
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 41.8%;
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* body((header+aside)+footer) */
.wrapper {
    position: relative;
    
}


/* レスポンシブデザインサイドメニュー */
.side-menu {
    display: none;
    
}
.c-side-menu-btn {
    display: none;
}
.c-show {
    display: none;
}
.overlay {
    display: none;
}
@include tb {
     /* スライド */
  .overlay {
    content: '';
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 150;
  }
  .overlay::after {
    
    visibility: hidden;
    position: fixed;
    top: 40%;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    color: rgba(255,255,255,0);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .side-open .overlay {
    visibility: visible;
    cursor: pointer;
    background: rgba(0,0,0,.8);
  }
  .side-open .overlay::after {
    visibility: visible;
    color: rgba(255,255,255,.8);
  }
  
  /* サイドメニュー ※リストのスタイルは省略 */
  .side-menu {
    display: none;

    position: fixed;
    top: 0;
    
    width: 300px;
    height: 100%;
    
    text-align: left;
    
    background:  #d3c9c2;
    z-index: -200;

    color: #707070;
  }
  .side-menu.show {
    display: block;
    position: fixed;
    right: 0;
    z-index: 101;
    
  }
  
  .l-side-hamburger {
    position: relative;
    top: 40px;
  }

  .l-side-side-menu {
    position: relative;
    top: 60px;
  }

  .l-side-drink-menu {
    position: relative;
    top: 80px;
  }

  /* 開閉用ボタン ※ボタンの細かいスタイルは省略 */
  .c-side-menu-btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 5px;
    width: 55px;
    height: 40px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    z-index: 102;
    border-radius: 10px;
    border: 1px solid #707070;
  }
  .c-side-menu-btn.show {
      display: none;
  }

  .c-fas {
    display: none;

    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #ccc;
    cursor: pointer;
    z-index: 4;
  }
   .c-fas.show {
       display: block;
       position: fixed;
       z-index: 103;
   }

  
  /* メインコンテンツ */
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
  }
  /* メインコンテンツ内のスタイル ※デザインに併せて適当に */
  
  
  /* サイドメニューオープン */
  .l-body .side-open,
  .side-open .overlay {
    transform: translate3d(-300px, 0, 0);
  }
}