/* foundation */
* { box-sizing: border-box;

}


h1 {
    font-size: 64px;
}


/* layout */
.l-body {
    width: 100%;
    height: 1553px;
    display: flex;
    .l-header {
        width: 80.885%;
        background-color: #FFF7EF;
            &-top {
                display: flex;
                justify-content: space-between;
            }
    }
    .l-aside {
        width: 19.115%;
        background-color: #F2EDE9;
        
    }
}
.l-footer {
    width: 100%;
    height: 150px;
    background-color: #9D8670;
    position: absolute;
    bottom: 0;
}

.l-takeout-text-1 {
    position: relative;
    width: 585px;
    height: 174px;
}
.l-takeout-text-2 {
    position: relative;
}
.l-eatin-text-1 {
    position: relative;
}
.l-eatin-text-2 {
    position: relative;
}


/* project */
.p-header-left h1{
    position: relative;
    top: 67px;
    left: 65px;
}
.p-header-right {
    position: relative;
    top: 86px;
    right: 397px;
}

.p-header-choice {
    display: flex;
    grid-template-columns: 1fr 1fr;
    padding: 0 111px;
    .p-header-takeout {
        width: 50%;
    }
    .p-header-eatin {
        width: 50%;
    }
}


/* component */
.c-image {
    width: 100%;
    &-top {
        width: 100%;
        height: auto;
    }
    &-text-top {
        position: relative;
        left: 0;
        top: 235px;
        left: 86px;
        font-size: 40px;
        
        color: #ffffff;
    }
    &-takeout {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding-right: 40px;

    }
    &-text-takeout {
        position: relative;
        top: 130px;
        left: 50px;
        z-index: 100;
        color: #ffffff;
        font-size: 80px;
        line-height: 1.325;
    }
    &-eatin {
        box-sizing: border-box;
        width: 100%;
        height: auto;
        padding-left: 40px;
    }
    &-text-eatin {
        position: relative;
        top: 130px;
        left: 80px;
        z-index: 100;
        color: #ffffff;
        font-size: 80px;
        line-height: 1.325;
    }

.c-text-heading {
    background-color: #ffffff;
     h3 {
         font-size: 24px;
     }
     p {
         font-size: 16px;
     }
}
    
}

/* 検索フォーム*/
.c-form{
    position: relative; 
    margin-bottom:  20px;	
    
    &-sbox5{	
            outline: 0;	
            height: 50px;
            padding: 0 10px; 
            position: absolute; 
            left: 0;
            top: 0; 
            max-width: 270px;
            border-radius: 2px;
            background:#eee;
    }
    &-sbtn5{
            width: 70px;
            height: 50px;
            position: absolute; 
            left: 280px; 
            top: 0;
            border-radius: 2px;
             background:#7fbfff;
            color:#fff;
            font-weight: bold;
         font-size: 16px;
            border: none;
    }
    &-sbtn5:hover{
            background:#eee;
            color:#7fbfff;
    }
}
