/* foundation */



$tb: 834px; // タブレット用のブレイクポイント
@mixin tb {
    @media (max-width: ($tb)) {
        @content;
    }
}

$sp: 375px; // スマートフォン用のブレイクポイント
@mixin sp {
    @media (max-width: ($sp)) {
        @content;
    }
}

*, *:before, *:after{ box-sizing: border-box;

}



h1 {
    font-size: 3.33vw;
    font-family: 'Roboto', sans-serif;
    @include tb {        
            font-size: 4.80vw;    
    }
    @include sp {
        font-size: 10.67vw;
    }
}

h2 {
    font-family: 'Roboto', sans-serif;
}

h3 {
    font-family: 'M PLUS 1p', sans-serif;
}

p {
    font-family: 'M PLUS 1p', sans-serif;
}

img {
    height: auto;
}

/* layout */
.l-body {
    width: 100%;
    height: auto;
    display: flex;
    @include tb {
        
        position: relative;
        
        .show {
            position: relative;
            

            
            
        }
    }
    
    &-header {
        width: 80.885%;
        background-color: #FFF7EF;
        @include tb {
            width: 100%;
        }
        /* 最上段からトップ画像の上まで① */
            &-top {
                display: flex;
                justify-content: space-between;
                @include tb {
                    flex-direction: column;
                    
                    
                }
                
            }
            

    }
    &-aside {
        width: 19.115%;
        background-color: #F2EDE9;
        display: block;
        height: auto;
        @include tb {
                display: none;
        }
        @include sp {
                display: none;
        }
            &-menu {
               
                position: relative;
                top: 4%;
                padding-left: 46px;
                
            }
            &-hamburger {
                position: relative;
                top: 8%;
                
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }
            &-side-menu {
                position: relative;
                top: 8%;
                
                padding-top: 30px;
                padding-bottom: 50px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }

            &-drink-menu {
                position: relative;
                top: 8%;
                
                padding-top: 30px;
                padding-bottom: 30px;
                padding-left: 46px;
                    li {
                        position: relative;
                        top: 30px;
                        
                        padding-top: 23px;
                        padding-left: 18px;
                    }
            }
        
    }
}
/* トップ画像② */
.l-header-top-image {
        padding-bottom: 10%;
        @include sp {
            padding-top: 45%;
        }
}

/* テイクアウトとイートインの横並び画像の中に文字が入る③ */
.l-header-choice {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 6%;
    @include tb {
        padding-left: 4%;
    
    }
    @include sp {
        display: block;
        padding-left: 0;
        padding-right: 0;

    }
}  

.l-footer {
    width: 100%;

    background-color: #9D8670;

    bottom: 0;
    z-index: 5;
    padding-top: 3%;
    padding-bottom: 3%;
    
}
/* テイクアウト側に入れる文章のレイアウト */
.l-takeout-text {
    width: 100%;
    margin-bottom: 5%;
    z-index: 0;


    /* テイクアウト文章1 */
    &-1 {
        position: relative;

        left: 4%;

        width: 92%;


    }

    /* テイクアウト文章2 */
    &-2 {
        position: relative;
        left: 4%;

        width: 92%;
        margin-top: 2%;


    }
}
/* イートイン側に入れる文章のレイアウト */
.l-eatin-text {
    width: 100%;
    margin-bottom: 5%;
    z-index: 0;
    /* イートイン文章1 */
    &-1 {
        position: relative;
        left: 4%;
        width: 92%;
        }
    /* イートイン文章2 */
    &-2 {
        position: relative;
        left: 4%;
        width: 92%;
        margin-top: 2%;
        }
}



/* project */
/* ハンバーガーのロゴの位置*/
.p-header-left h1 {
    position: absolute;
    top: 2%;
    left: 2%;
    
    @include tb {
        
        left: 40%;
    }
    @include sp {
        left: 22%;
    }
        
    
}
/* 検索バーの位置 */
.p-header-right {
    margin-top: 2%;
    margin-right: 3%;
    @include tb {
        position: absolute;
        left: 18%;
        margin-top: 7%;
    }
    @include sp {
        margin-top: 18%;
        left: 9%;
    }

}   

    /* テイクアウト */
.p-header-takeout {        
    width: 50%;
    height: auto;
    position: relative;
    background-image: url(images/takeout-image.jpg);
    margin-left: 9%;
    margin-right: 3%;
    &-wrapper {
        display: block;        
        width: 100%;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include sp {
        width: 92%;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 10%;
    }       
}
    
    /* イートイン */
.p-header-eatin {
    width: 50%;
    height: auto;
    position: relative;
    background-image: url(images/eat-in-image.jpg);
    margin-left: 3%;
    margin-right: 9%;
    &-wrapper {
        display: block;            
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    @include sp {
        width: 100%;
        margin-left: 4%;
        margin-right: 4%;
        margin-bottom: 10%;
    }
}

/* サイド側のハンバーガーメニュー */
.p-hamburger-menu {
    font-family: 'Roboto', sans-serif;
    font-size: 1.7vw;


}



/* component */

/* 画像にテキストを載せる */
.c-image {
    width: 100%;
    position: relative;
    @include sp {
        width: auto;
    }
    
    
    /* トップ画像 */
    &-top {
        width: 100%;
        height: auto;
        margin-top: 4%;
        @include tb {
            margin-top: 24%;
        }
        @include sp {
            display: none;
        }
    }
    &-top-sp {
        display: none;
        @include sp {
            display: block;
            width: 100%;
            height: auto;
            padding-top: 4%;
        }
    }
    /* トップ画像のテキスト */
    &-text-top {
        position: absolute;
        top: 35%;
        left: 10%;

        color: #ffffff;
        font-size: 2.1vw;
   
        @include tb {
                font-size: 4.32vw;
                top: 45%;
        
        }
        @include sp {
            top: 55%;
            font-size: 9.8vw;
            left: 7%;
        }

    }

    /* テイクアウト側 */
    &-takeout {
        width: 100%;
        height: auto;
        padding-right: 40px;
        @include tb {
            padding-right: 5px;
        }
        @include sp {
            padding-right: 0px;
            margin-top: 30%;
            margin-bottom: 20%; 
        }


    }
    &-logo-takeout {

        z-index: 100;
        color: #ffffff;
        font-size: 5.15vw;
        line-height: 1.325;
        display: block;
        padding-bottom: 38%;
        padding-top: 2%;
        padding-left: 3%;

        @include tb {
            font-size: 5.27vw;
        }
        @include sp {
            font-size: 10.9vw;
            top: 2%;
        }
    }
    
    /* イートイン側 */
    &-eatin {
        
        width: 100%;
        height: auto;
        padding-left: 40px;
        @include tb {
            padding-left: 5px;
        }
        @include sp {
            padding-left: 0px;
            position: relative;
            top: -250px;
        }
        

    }
    &-logo-eatin {

        z-index: 100;
        color: #ffffff;
        font-size: 5.15vw;
        line-height: 1.325;
        display: block;
        padding-bottom: 38%;
        padding-top: 2%;
        padding-left: 3%;

        @include tb {
            font-size: 5.27vw;
        }
        @include sp {
            font-size: 10.9vw;
            top: 2%;
            
        }

    }
}
/* テイクアウトとイートインの中の文章 */
.c-text-card {
    background-color: rgba($color:#ffffff, $alpha: 0.8);

     h3 {
         font-size: 1.54vw;
         padding: 5px;
     }
     p {
         font-size: 1.0vw;
         padding: 5px;
     }
}

/* footer */
.c-footer-info {
    text-align: center;
    color: #ffffff;
    font-size: 1.7vw;
    @include tb {
        font-size: 2.3vw;
    }
    @include sp {
        font-size: 5.3vw;
    }
}

.c-footer-copyright {
    
    text-align: center;
    color: #ffffff;
    font-size: 1.2vw;
    margin-top: 2%;
    @include tb {
        font-size: 1.7vw;
    }
    @include sp {
        font-size: 3.7vw;
    }
    
}

/* 検索フォーム*/
.c-form{
    display: flex;
    margin-top: 6%;
    
    @include tb {
        margin-top: 8%;
    }	
    @include sp {
        margin-top: 16%;
    }
    &-sbox5{	
            outline: 0;	

            left: 0;
            width: 20.1vw;
            border-radius: 10px;
            background:#ffffff;
            border: 1px solid #707070;
            padding-bottom: 2%;
            @include tb {
                width: 47.4vw;
                
            }
            @include sp {
                width: 200px;
            }
    }
    &-sbtn5{
            width: 7vw;
            margin-left: 2%;
            border-radius: 10px;
            background: #F2EDE9;
            color:#707070;
            font-weight: bold;
            font-size: 16px;
            border: 1px solid #707070;
            @include tb {
                margin-left: 2%;
                width: 16.3vw;
            }
            @include sp {
                margin-left: 0;
            }
    }
    &-sbtn5:hover{
            background:#707070;
            color: #F2EDE9;
            border: 1px solid #F2EDE9;
    }
}

.c-search {
    font-weight: 900;
    z-index: 2;
    position: absolute;
    color: #707070;

    @include tb {
        left: 0;
    }
}

/* スライドメニュー */
.slide-menu {
    display: none;
    @include tb {
        display: block;
    }
}

/* aside */
.c-menu {
    color: #303030;
    font-size: 1.3vw;
    font-family: 'M PLUS 1p', sans-serif;
    @include tb {
        font-size: 2.9vw;
        position: relative;
        left: 40px;
    }
    @include sp {
        font-size: 6.4vw;
    }
    li {
        font-size: 1.0vw;
        list-style-type: none;
        @include tb {
            font-size: 2.4vw;
            position: relative;
            left: 60px;
        }
        @include sp {
            font-size: 5.3vw;
        }
    }
}
/* Google マップに文字を重ねます④ */
.l-map {
    width: 100%;
    height: auto;
    position: relative;

 
}

.c-maptext {
    display: block;
    position: absolute;
    z-index: 2;
    background-color: #333333;
    opacity: 0.5;
    width: 62%;
    height: 100%;
    top: 0;
    left: 0;
    @include tb {
        width: 100%;
    }
    @include sp {
        height: 50%;
    }
    p {
        color: white;
        position: absolute;
        top: 30%;
        
        font-size: 1.3vw;
        padding-left: 4%;
        padding-right: 4%;
        @include tb {
            font-size: 1.7vw;
            
        }
        @include sp {
            font-size: 3.7vw;
        }

    }
    h2 {
        color: white;
        position: absolute;
        top: 5%;
        left: 5%;
        font-size: 1.8vw;
        @include tb {
            font-size: 3.6vw;
        
        }
        @include sp {
            font-size: 8.0vw;
        }
    }

}

.c-googlemap {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    @include sp {
        display: none;
    }
}

.c-googlemap-sp {
    display: none;
    @include tb {
        display: none;
    }
    @include sp {
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: block;
    }

}



.iframe-wrapper{
    position: relative;
    height: 0;
    overflow: hidden;
    padding-top: 41.8%;
    @include sp {
        padding-top: 100%;
    }
}
iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include sp {
        display: none;
    }
}



/* body((header+aside)+footer) */
.wrapper {
    position: relative;
    
}


/* レスポンシブデザインサイドメニュー */
.side-menu {
    display: none;
    
}
.c-side-menu-btn {
    display: none;
}
.c-show {
    display: none;
}
.overlay {
    display: none;
}
@include tb {
     /* スライド */
  .overlay {
    content: '';
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 150;
  }
  .overlay::after {
    
    visibility: hidden;
    position: fixed;
    top: 40%;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    color: rgba(255,255,255,0);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .side-open .overlay {
    visibility: visible;
    cursor: pointer;
    background: rgba(0,0,0,.8);
  }
  .side-open .overlay::after {
    visibility: visible;
    color: rgba(255,255,255,.8);
  }
  
  /* サイドメニュー ※リストのスタイルは省略 */
  .side-menu {
    display: none;

    position: fixed;
    top: 0;
    
    width: 300px;
    height: 100%;
    
    text-align: left;
    
    background:  #d3c9c2;
    z-index: -200;

    color: #707070;
  }
  .side-menu.show {
    display: block;
    position: fixed;
    right: 0;
    z-index: 101;
    
  }
  
  .l-side-hamburger {
    position: relative;
    top: 40px;
  }

  .l-side-side-menu {
    position: relative;
    top: 60px;
  }

  .l-side-drink-menu {
    position: relative;
    top: 80px;
  }

  /* 開閉用ボタン ※ボタンの細かいスタイルは省略 */
  .c-side-menu-btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 5px;
    width: 55px;
    height: 40px;
    padding: 5px;
    background-color: #fff;
    cursor: pointer;
    z-index: 102;
    border-radius: 10px;
    border: 1px solid #707070;
  }
  .c-side-menu-btn.show {
      display: none;
  }

  .c-fas {
    display: none;

    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #ccc;
    cursor: pointer;
    z-index: 4;
  }
   .c-fas.show {
       display: block;
       position: fixed;
       z-index: 103;
   }

  
  /* メインコンテンツ */
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    

    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
  }
  /* メインコンテンツ内のスタイル ※デザインに併せて適当に */
  
  
  /* サイドメニューオープン */
  .l-body .side-open,
  .side-open .overlay {
    transform: translate3d(-300px, 0, 0);
  }
}