@charset "UTF-8";
/* foundation */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 64px;
  font-family: 'Roboto', sans-serif;
}

@media (max-width: 834px) {
  h1 {
    font-size: 40px;
  }
}

h2 {
  font-family: 'Roboto', sans-serif;
}

h3 {
  font-family: 'M PLUS 1p', sans-serif;
}

p {
  font-family: 'M PLUS 1p', sans-serif;
}

img {
  height: auto;
}

/* layout */
.l-body {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 834px) {
  .l-body {
    height: 1676px;
    position: relative;
  }
  .l-body .show {
    position: relative;
  }
}

.l-body-header {
  width: 80.885%;
  background-color: #FFF7EF;
}

@media (max-width: 834px) {
  .l-body-header {
    width: 100%;
  }
}

.l-body-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 834px) {
  .l-body-header-top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.l-body-aside {
  width: 19.115%;
  background-color: #F2EDE9;
  display: block;
  height: auto;
}

@media (max-width: 834px) {
  .l-body-aside {
    display: none;
  }
}

.l-body-aside-menu {
  position: relative;
  top: 82px;
  left: 46px;
}

.l-body-aside-hamburger {
  position: relative;
  top: 82px;
  left: 46px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.l-body-aside-hamburger li {
  position: relative;
  top: 30px;
  left: 24px;
  padding-top: 23px;
}

.l-body-aside-side-menu {
  position: relative;
  top: 82px;
  left: 46px;
  padding-top: 30px;
  padding-bottom: 50px;
}

.l-body-aside-side-menu li {
  position: relative;
  top: 30px;
  left: 24px;
  padding-top: 23px;
}

.l-body-aside-drink-menu {
  position: relative;
  top: 82px;
  left: 46px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.l-body-aside-drink-menu li {
  position: relative;
  top: 30px;
  left: 24px;
  padding-top: 23px;
}

.l-footer {
  width: 100%;
  height: 150px;
  background-color: #9D8670;
  position: absolute;
  bottom: 0;
  z-index: 5;
}

.l-footer p {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
}

/* テイクアウト側に入れる文章のレイアウト */
.l-takeout-text {
  width: 100%;
  position: relative;
  top: -500px;
  z-index: 0;
  /* テイクアウト文章1 */
  /* テイクアウト文章2 */
}

@media (max-width: 834px) {
  .l-takeout-text {
    position: relative;
    top: -360px;
  }
}

.l-takeout-text-1 {
  position: relative;
  bottom: 25%;
  left: 9%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

.l-takeout-text-2 {
  position: relative;
  bottom: 25%;
  left: 9%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

/* イートイン側に入れる文章のレイアウト */
.l-eatin-text {
  width: 100%;
  position: relative;
  top: -500px;
  z-index: 0;
  /* イートイン文章1 */
  /* イートイン文章2 */
}

@media (max-width: 834px) {
  .l-eatin-text {
    position: relative;
    top: -360px;
  }
}

.l-eatin-text-1 {
  position: relative;
  bottom: 25%;
  left: 16%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

.l-eatin-text-2 {
  position: relative;
  bottom: 25%;
  left: 16%;
  top: 0;
  right: 10%;
  width: 75%;
  height: 174px;
}

/* project */
/* ハンバーガーのロゴの位置*/
.p-header-left h1 {
  position: relative;
  top: 26px;
  left: 65px;
}

@media (max-width: 834px) {
  .p-header-left h1 {
    left: 34%;
  }
}

/* 検索バーの位置 */
.p-header-right {
  position: relative;
  top: 86px;
  right: 397px;
}

@media (max-width: 834px) {
  .p-header-right {
    right: -30%;
  }
}

/* テイクアウトとイートインのラッパー */
.p-header-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  padding: 0 111px;
  /* テイクアウト */
  /* イートイン */
}

@media (max-width: 834px) {
  .p-header-choice {
    padding: 0 40px;
  }
}

.p-header-choice .p-header-takeout {
  width: 50%;
  height: auto;
}

.p-header-choice .p-header-takeout:before {
  content: "";
  display: block;
}

.p-header-choice .p-header-eatin {
  width: 50%;
  height: auto;
}

.p-header-choice .p-header-eatin:before {
  content: "";
  display: block;
}

/* サイド側のハンバーガーメニュー */
.p-hamburger-menu {
  font-family: 'Roboto', sans-serif;
  font-size: 34px;
}

.c-menu {
  color: #303030;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 24px;
}

@media (max-width: 834px) {
  .c-menu {
    font-size: 20px;
  }
}

.c-menu li {
  font-size: 20px;
}

@media (max-width: 834px) {
  .c-menu li {
    font-size: 17px;
  }
}

/* component */
/* 画像にテキストを載せる */
.c-image {
  width: 100%;
  /* トップ画像 */
  /* トップ画像のテキスト */
  /* テイクアウト側 */
  /* イートイン側 */
}

.c-image-top {
  width: 100%;
  height: auto;
}

.c-image-text-top {
  position: relative;
  top: 235px;
  left: 86px;
  color: #ffffff;
  font-size: 40px;
}

@media (max-width: 834px) {
  .c-image-text-top {
    font-size: 36px;
    top: 150px;
  }
}

.c-image-takeout {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-right: 40px;
}

.c-image-text-takeout {
  position: relative;
  top: 130px;
  left: 40px;
  z-index: 100;
  color: #ffffff;
  font-size: 80px;
  line-height: 1.325;
  display: block;
}

@media (max-width: 834px) {
  .c-image-text-takeout {
    font-size: 44px;
  }
}

.c-image-eatin {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  padding-left: 40px;
}

.c-image-text-eatin {
  position: relative;
  top: 130px;
  left: 80px;
  z-index: 100;
  color: #ffffff;
  font-size: 80px;
  line-height: 1.325;
  display: block;
}

@media (max-width: 834px) {
  .c-image-text-eatin {
    font-size: 44px;
  }
}

/* テイクアウトとイートインの中の文章 */
.c-image-on-text {
  background-color: rgba(255, 255, 255, 0.8);
}

.c-image-on-text h3 {
  font-size: 24px;
}

.c-image-on-text p {
  font-size: 16px;
}

/* 検索フォーム*/
.c-form {
  position: relative;
  bottom: 40px;
  margin-bottom: 20px;
}

.c-form-sbox5 {
  outline: 0;
  height: 46px;
  padding: 0 10px;
  position: absolute;
  left: 0;
  top: 0;
  max-width: 270px;
  border-radius: 10px;
  background: #ffffff;
  border: 1px solid #707070;
}

@media (max-width: 834px) {
  .c-form-sbox5 {
    width: 396px;
    max-width: 600px;
    left: -20%;
  }
}

.c-form-sbtn5 {
  width: 136px;
  height: 46px;
  position: absolute;
  left: 230px;
  top: 0;
  border-radius: 10px;
  background: #F2EDE9;
  color: #707070;
  font-weight: bold;
  font-size: 16px;
  border: 1px solid #707070;
}

@media (max-width: 834px) {
  .c-form-sbtn5 {
    left: 40%;
  }
}

.c-form-sbtn5:hover {
  background: #707070;
  color: #F2EDE9;
  border: 1px solid #F2EDE9;
}

.c-search {
  font-weight: 900;
  z-index: 2;
  position: absolute;
  color: #707070;
  position: relative;
  top: 6px;
}

@media (max-width: 834px) {
  .c-search {
    left: -20%;
  }
}

/* スライドメニュー */
.slide-menu {
  display: none;
}

@media (max-width: 834px) {
  .slide-menu {
    display: block;
  }
}

/* aside */
.c-menu {
  color: #303030;
  font-size: 24px;
  font-family: 'M PLUS 1p', sans-serif;
}

@media (max-width: 834px) {
  .c-menu {
    font-size: 20px;
    position: relative;
    left: 40px;
  }
}

.c-menu li {
  font-size: 20px;
  list-style-type: none;
}

@media (max-width: 834px) {
  .c-menu li {
    font-size: 17px;
    position: relative;
    left: 60px;
  }
}

/* 文字とgooglemap */
.p-map {
  width: 100%;
  height: auto;
  position: relative;
  bottom: 150px;
}

@media (max-width: 834px) {
  .p-map {
    top: -295px;
  }
}

.c-maptext {
  display: block;
  position: absolute;
  z-index: 2;
  background-color: #333333;
  opacity: 0.5;
  width: 62%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (max-width: 834px) {
  .c-maptext {
    width: 100%;
  }
}

.c-maptext p {
  color: white;
  position: relative;
  top: 5%;
  left: 5%;
}

@media (max-width: 834px) {
  .c-maptext p {
    font-size: 14px;
  }
}

.c-maptext h2 {
  color: white;
  position: relative;
  top: 5%;
  left: 5%;
}

@media (max-width: 834px) {
  .c-maptext h2 {
    font-size: 30px;
  }
}

.c-googlemap {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  height: auto;
}

.iframe-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
  padding-top: 41.8%;
}

iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* body((header+aside)+footer) */
.wrapper {
  position: relative;
}

/* レスポンシブデザインサイドメニュー */
.side-menu {
  display: none;
}

.side-menu-btn {
  display: none;
}

.c-show {
  display: none;
}

.overlay {
  display: none;
}

@media (max-width: 834px) {
  /* スライド */
  .overlay {
    content: '';
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 150;
  }
  .overlay::after {
    visibility: hidden;
    position: fixed;
    top: 40%;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    color: rgba(255, 255, 255, 0);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
  }
  .side-open .overlay {
    visibility: visible;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.8);
  }
  .side-open .overlay::after {
    visibility: visible;
    color: rgba(255, 255, 255, 0.8);
  }
  /* サイドメニュー ※リストのスタイルは省略 */
  .side-menu {
    display: none;
    position: fixed;
    top: 0;
    width: 300px;
    height: 100%;
    text-align: left;
    background: #d3c9c2;
    z-index: -200;
    color: #707070;
  }
  .side-menu.show {
    display: block;
    position: fixed;
    right: 0;
    z-index: 101;
  }
  .l-side-hamburger {
    position: relative;
    top: 40px;
  }
  .l-side-side-menu {
    position: relative;
    top: 60px;
  }
  .l-side-drink-menu {
    position: relative;
    top: 80px;
  }
  /* 開閉用ボタン ※ボタンの細かいスタイルは省略 */
  .side-menu-btn {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #FFF7EF;
    cursor: pointer;
    z-index: 102;
  }
  .side-menu-btn.show {
    display: none;
  }
  .c-fas {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #ccc;
    cursor: pointer;
    z-index: 4;
  }
  .c-fas.show {
    display: block;
    position: fixed;
    z-index: 103;
  }
  /* メインコンテンツ */
  .wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    z-index: 2;
  }
  /* メインコンテンツ内のスタイル ※デザインに併せて適当に */
  /* サイドメニューオープン */
  .l-body .side-open,
  .side-open .overlay {
    -webkit-transform: translate3d(-300px, 0, 0);
            transform: translate3d(-300px, 0, 0);
  }
}
/*# sourceMappingURL=style.css.map */